body{
background-color:grey;
width:1000px;
}
#header{
width:1000px;
height:150px;


}

#zaad {
float:left;
height:150px;
width:300px;
}
#taaj{
float:right;
height:150px;
width:700px;

}
#menu{
background-color:GREEN;
color:white;
height:40px;
text-align:center;

padding:15px;
width:1000px;
}


#menu li {
padding:25px;
display:inline;
}
#menu  a {
text-decoration:none;
color:white;

}
#menu a:hover {
color:orange;
font-size:25px;
text-decoration:underline;

}
#container {
    width: 1000px;
    
	
}

#leftside {
width:280px;
float:left;
font-size:30px;
padding:2px;
border-style:ridge;

}
#content_area{
    width:380px;
	float:left;
	padding:2px;
	border-style:ridge;
	height:1000px;
}
#rightside{
    width:280px;
	float:left;
	padding:2px;
	
}

#footer {
width:1000px;
height:50px;
clear:both;
background:orange;
text-align:center;
padding-top:25px;

}